# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JavaProgram\七周七并发\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
